<div class="card mt-3">
  <div class="card-header"><h2>Agregar Empleado</h2></div>
  <div class="card-body">
    
    <form [formGroup]="formularioEmpleados"  (ngSubmit)="enviarDatos()">
      <div class="mb-3">
        <label for="" class="form-label">Nombre:</label>
        <input
          type="text"
          class="form-control"
          name=""
          formControlName="nombre"
          id=""
          placeholder="Escribe tu nombre"
        />
      </div>

      <div class="mb-3">
        <label for="" class="form-label">Correo:</label>
        <input type="email" formControlName="correo"  class="form-control" name="" id="" placeholder="" />
      </div>

      <div class="btn-group" role="group" aria-label="">
        <button type="submit" class="btn btn-success">Agregar</button>
        <button type="button" routerLink="/listar-empleado" class="btn btn-primary">Cancelar</button>
      </div>
    </form>
  </div>
</div>
